{% set emoji_map = {
    'feature': '✨',
    'fix': '🐛',
    'documentation': '📚',
    'refactor': '♻️',
    'build': '📦',
    'test': '🚨',
    'ci': '🤖',
    'style': '🎨',
    'chore': '🔧',
    'performance': '⚡',
    'unknown': '❗',
} %}

## {{ version.as_tag() }} ({{ release.tagged_date.strftime("%Y-%m-%d") }})
{% for type_, commits in release["elements"] | dictsort %}
### {{ emoji_map[type_] }} {{ type_ | capitalize }}
{%- if type_ != "unknown" %}
{% for commit in commits %}
* {{ commit.descriptions[0] }} by {{commit.commit.author.name}} in [`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }})
{%- endfor %}{% endif %}{% endfor %}