{% set emoji_map = {
    'feature': '✨',
    'fix': '🐛',
    'documentation': '📚',
    'refactor': '♻️',
    'build': '📦',
    'test': '🚨',
    'ci': '🤖',
    'style': '🎨',
    'chore': '🔧',
    'performance': '⚡',
    'unknown': '❗',
} %}

{# Assuming context.history.released is sorted in descending order of release #}
{% set latest_release = context.history.released|first %}

# Latest Release: {{ latest_release.version.as_tag() }} ({{ latest_release.tagged_date.strftime("%Y-%m-%d") }})
{% for type_, commits in latest_release["elements"] | dictsort %}
## {{ emoji_map[type_] }} {{ type_ | capitalize }}
{% for commit in commits %}
* {{ commit.message.rstrip() }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{% endfor %}
{% endfor %}

{# Unreleased Changes #}
{% if context.history.unreleased | length > 0 %}
## Unreleased Changes
{% for type_, commits in context.history.unreleased | dictsort %}
### {{ emoji_map[type_] }} {{ type_ | capitalize }}
{% for commit in commits %}
* {{ commit.message.rstrip() }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{% endfor %}
{% endfor %}
{% endif %}